/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Estilos del encabezado */
#header {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

.logo img {
    width: 100px;
    height: auto;
}

.row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.row-2 ul li {
    display: inline;
    margin-right: 20px; /* Ajusta el espacio entre elementos según sea necesario */
}

.row-2 ul li.last {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}


.row-2 ul li a {
    text-decoration: none;
    color: #000; /* Color del texto */
    padding: 5px 10px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Añade bordes redondeados a los enlaces */
    background-color: #ccc; /* Color de fondo de los enlaces */
}

.row-2 ul li a.active {
    font-weight: bold; /* Cambia el estilo del enlace activo */
    background-color: #999; /* Cambia el color de fondo del enlace activo */
}






/* Estilos del contenido */
#content {
    padding: 20px;
}

#slogan {
    margin-bottom: 20px;
}

.inside h2 {
    font-size: 24px;
    color: #333;
}

.inside p {
    font-size: 16px;
    color: #666;
}

.wrapper a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.wrapper a:hover {
    background-color: #333;
}

/* Estilos del pie de página */
#footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

#footer p {
    margin: 0;
    padding: 5px 0;
}

#footer .left {
    text-align: left;
}

#footer .right {
    text-align: right;
}

/* Estilos CSS para centrar la imagen */
/* Estilos CSS para centrar la imagen y ajustar su tamaño al del contenedor */
.container {
    text-align: center; /* Centra el contenido horizontalmente */
    width: 570px; /* Define el ancho deseado del contenedor */
    height: 330px; /* Define la altura deseada del contenedor */
    border: 1px solid #ccc; /* Añade un borde al contenedor para visualización */
  }
  
  .centered-image {
    width: 200px; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100px; /* Hace que la imagen ocupe todo el alto del contenedor */
  }
  
  
  .search-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-container button {
    background-color: #0183fc;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
